<h4>Hello, <%= @user.user_name %></h4>
  <p>
    Your interview is scheduled from <%= @interview.starttime.strftime("%B %e, %Y at %I:%M %p") %> to <%= @interview.endtime.strftime("%B %e, %Y at %I:%M %p") %>
  </p>
<p>Please Join by the scheduled time and have a great day!</p>